@model ZipfItUp.Models.Word

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Word</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WordString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occurances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occurances)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn-sm btn-success" }) 
    @Html.ActionLink("Back to List", "Index", null, new {@class="btn-sm btn-danger"})
</p>
